.container{
    background-color: aqua;
}
.content{
    font-size:40px;
}
/*@media screen and (max-width:450px){
    .container{
        background-color: rgb(238, 0, 255);
    }
    .content{
        font-size:16px;
    }
}*/
@media screen and (min-width:350px) and (max-width:575px){
    .container{
        background-color: rgb(22, 121, 52);
    }
    .content{
        font-size:10px;
    }
}
@media screen and (min-width:576px) and (max-width:767px){
    .container{
        background-color: rgb(238, 0, 255);
    }
    .content{
        font-size:16px;
    }
}